section.galeria 
    a(href="/servicios/tienda").item-galeria.servicio-1
        h3 Tienda online
        h4 Hilton Garden Inn
    a(href="/servicios/desarrollo").item-galeria.servicio-2 
        h3 Desarrollo Web
        h4 Creamigas
    a(href="/servicios/plataforma").item-galeria.servicio-3
        h3 Web App
        h4 Capitol Business Group