section.galeria 
    a(href="/servicios/tienda-online").item-galeria.servicio-1
        h3 Tienda online
        h4 Hilton Garden Inn
    a(href="/servicios/sitio-web").item-galeria.servicio-2 
        h3 Sitio Web
        h4 Creamigas
    a(href="/servicios/web-app").item-galeria.servicio-3
        h3 Web App
        h4 Capitol Business Group