section.galeria 
    a(href="/").item-galeria.servicio-1
        h3 Tienda online
        h4 Hilton Garden Inn
    a(href="/").item-galeria.servicio-2 
        h3 Desarrollo Web
        h4 Creamigas
    a(href="/").item-galeria.servicio-3
        h3 Plataforma
        h4 Capitol Business Group