section.cta
    .container 
        h2 Estamos listos para comenzar tu proyecto 🚀 ¡Contáctanos!
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .flex.justify-center.gap-16
            a(href="/contacto", class="btn primary-btn") Contáctanos
            a(href="/portafolio", class="btn secondary-btn") Ver Portafolio
        img(src="/img/cta.jpg", alt="", class="img-fluid")