extends ./layout/index

block contenido
    main.hero 
        .container 
            .hero-text 
                h1
                    | Mantenimiento web 
                    span.gradient profesional.
            a(class="hero-button", href="#pricing")
                svg(width='104' height='104' viewbox='0 0 104 104' fill='none' xmlns='http://www.w3.org/2000/svg')
                    g(clip-path='url(#clip0_278_484)')
                        path(d='M50.9997 45V56.17L46.1197 51.29C45.7297 50.9 45.0897 50.9 44.6997 51.29C44.3097 51.68 44.3097 52.31 44.6997 52.7L51.2897 59.29C51.6797 59.68 52.3097 59.68 52.6997 59.29L59.2897 52.7C59.6797 52.31 59.6797 51.68 59.2897 51.29C58.8997 50.9 58.2697 50.9 57.8797 51.29L52.9997 56.17V45C52.9997 44.45 52.5497 44 51.9997 44C51.4497 44 50.9997 44.45 50.9997 45Z' fill='#B8B8B8')
                    rect(x='0.5' y='0.5' width='103' height='103' rx='51.5' stroke='#B8B8B8')
                defs
                    clippath#clip0_278_484
                    rect(width='24' height='24' fill='white' transform='translate(40 40)')

            .shadow 
    section.pricing#pricing
            .container 
                .contenedor-pricing
                    .pricing-table
                        img(src="/img/mantenimiento/starter.svg", alt="")
                        h3 Starter 
                        p Lo esencial para que tu sitio este seguro y funcione correctamente.
                        h2 
                            |$799
                            span.small /mes
                        ul 
                            li 
                                img(src="/img/icons/checkmark.svg", alt="Característica")
                                |Actualización de Plugins y Themes.
                            li 
                                img(src="/img/icons/checkmark.svg", alt="Característica")
                                |Actualización de WordPress.
                            li 
                                img(src="/img/icons/checkmark.svg", alt="Característica")
                                |Monitoreo de seguridad.
                            li 
                                img(src="/img/icons/checkmark.svg", alt="Característica")
                                |Copias de Seguridad semanales.
                        a(href="#", class="btn secondary-btn") Contratar
                    .pricing-table 
                        img(src="/img/mantenimiento/starter.svg", alt="")
                        h3 Pro 
                        p Lo esencial que tu sitio web necesita para estar seguro.
                        h2 
                            |$1,499
                            span.small /mes
                        ul 
                            li 
                                img(src="/img/icons/checkmark.svg", alt="Característica")
                                |Todos lo listado en el Plan “Starter”.
                            li 
                                img(src="/img/icons/checkmark.svg", alt="Característica")
                                |Informes de Analytics mensuales.
                            li 
                                img(src="/img/icons/checkmark.svg", alt="Característica")
                                |Mapas de Calor.
                            li 
                                img(src="/img/icons/checkmark.svg", alt="Característica")
                                |Asesoramiento técnico.
                        a(href="#", class="btn secondary-btn") Contratar
                    .pricing-table 
                        img(src="/img/mantenimiento/starter.svg", alt="")
                        h3 Premium 
                        p Todo lo que necesitas para monitorear y hacer crecer tu sitio web.
                        h2 
                            |$2,499
                            span.small /mes
                        ul 
                            li 
                                img(src="/img/icons/checkmark.svg", alt="Característica")
                                |Asesoramiento técnico.
                            li 
                                img(src="/img/icons/checkmark.svg", alt="Característica")
                                |Informe y control mensual.
                            li 
                                img(src="/img/icons/checkmark.svg", alt="Característica")
                                |Grabación de pantalla de sesiones. 
                            li 
                                img(src="/img/icons/checkmark.svg", alt="Característica")
                                |Subida de hasta 2 blogs al mes. 
                        a(href="#", class="btn secondary-btn") Contratar

    section.service_feautures 
        .container 
                h2 
                    |¿Porqué contratar nuestro 
                    span.gradient Mantenimiento?
                .feautures-container 
                    .service-feauture
                        img(src="/img/mantenimiento/staging.svg", alt="Sitios de prueba")
                        h4 Actualizaciones
                        p Crea una copia al instante de tu sitio, realizá todos los cambios que necesites y publícalos en sólo un clic.
                    .service-feauture
                        img(src="/img/mantenimiento/rendimiento.svg", alt="Rendimiento")
                        h4 Seguridad
                        p Una de las infraestructuras líder en el mercado y con uno de los mejores desempeños en el mundo.
                    .service-feauture
                        img(src="/img/mantenimiento/analytics.svg", alt="Analytics")
                        h4 Monitoreo
                        p CDN integrada como ninguna otra, una de las redes de entrega de contenido más extensas y rápidas del mundo.
                    .service-feauture
                        img(src="/img/mantenimiento/ssl.svg", alt="Certificado SSL")
                        h4 Analytics
                        p Podrás instalar certificados de seguridad a tus dominios para encriptar la navegación de tus clientes.
                    .service-feauture
                        img(src="/img/mantenimiento/copias-seguridad.svg", alt="Copias de seguridad")
                        h4 Gestión de Contenido
                        p El servidor cuenta con un excelente sistema de copias de seguridad realizando respaldos diarios.
                    .service-feauture
                        img(src="/img/mantenimiento/velocidad.svg", alt="Velocidad")
                        h4 Copias de Seguridad 
                        p Utilizamos VPS's para ofrecer una velocidad de carga extremadamente rápida, olvidate de los servidores compartidos.   
    section.faq 
        .container 
            h2 F.A.Q.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .faq-accordeon 
                .question 
                    h4 ¿Cuáles son los beneficios de contratar nuestros servicios de mantenimiento web WordPress?
                    svg(width='40' height='40' viewbox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g(clip-path='url(#clip0_76_3640)')
                            path(d='M12.3001 35.0168C13.1168 35.8334 14.4335 35.8334 15.2501 35.0168L29.1001 21.1667C29.7501 20.5167 29.7501 19.4667 29.1001 18.8167L15.2501 4.96675C14.4335 4.15008 13.1168 4.15008 12.3001 4.96675C11.4835 5.78341 11.4835 7.10008 12.3001 7.91675L24.3668 20.0001L12.2835 32.0834C11.4835 32.8834 11.4835 34.2168 12.3001 35.0168V35.0168Z' fill='#333333')
                        defs
                            clippath#clip0_76_3640
                                rect(width='40' height='40' fill='white')
                .answer 
                    p Al contratar nuestros servicios de mantenimiento web WordPress, puedes beneficiarte de un sitio web seguro, actualizado y optimizado. Nos encargaremos de las actualizaciones de WordPress, temas y plugins, realizaremos copias de seguridad regulares, monitorizaremos la seguridad del sitio, y estaremos disponibles para resolver cualquier problema técnico que pueda surgir.
            .faq-accordeon 
                .question 
                    h4 ¿Qué incluye nuestro servicio de mantenimiento web WordPress?
                    svg(width='40' height='40' viewbox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g(clip-path='url(#clip0_76_3640)')
                            path(d='M12.3001 35.0168C13.1168 35.8334 14.4335 35.8334 15.2501 35.0168L29.1001 21.1667C29.7501 20.5167 29.7501 19.4667 29.1001 18.8167L15.2501 4.96675C14.4335 4.15008 13.1168 4.15008 12.3001 4.96675C11.4835 5.78341 11.4835 7.10008 12.3001 7.91675L24.3668 20.0001L12.2835 32.0834C11.4835 32.8834 11.4835 34.2168 12.3001 35.0168V35.0168Z' fill='#333333')
                        defs
                            clippath#clip0_76_3640
                                rect(width='40' height='40' fill='white')
                .answer 
                    p Nuestro servicio de mantenimiento web WordPress incluye actualizaciones regulares de WordPress, temas y plugins, copias de seguridad automatizadas, monitorización de seguridad, optimización de rendimiento, resolución de problemas técnicos y soporte técnico especializado para garantizar que tu sitio web funcione sin problemas.
            .faq-accordeon 
                .question 
                    h4 ¿Por qué es importante mantener actualizado mi sitio web WordPress?
                    svg(width='40' height='40' viewbox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g(clip-path='url(#clip0_76_3640)')
                            path(d='M12.3001 35.0168C13.1168 35.8334 14.4335 35.8334 15.2501 35.0168L29.1001 21.1667C29.7501 20.5167 29.7501 19.4667 29.1001 18.8167L15.2501 4.96675C14.4335 4.15008 13.1168 4.15008 12.3001 4.96675C11.4835 5.78341 11.4835 7.10008 12.3001 7.91675L24.3668 20.0001L12.2835 32.0834C11.4835 32.8834 11.4835 34.2168 12.3001 35.0168V35.0168Z' fill='#333333')
                        defs
                            clippath#clip0_76_3640
                                rect(width='40' height='40' fill='white')
                .answer 
                    p Mantener tu sitio web WordPress actualizado es crucial para garantizar la seguridad, el rendimiento y la compatibilidad. Las actualizaciones de WordPress, temas y plugins suelen incluir mejoras de seguridad, corrección de errores y nuevas funciones. Al mantener tu sitio actualizado, reducirás el riesgo de vulnerabilidades y problemas de compatibilidad, manteniendo tu sitio web seguro y optimizado.
            .faq-accordeon 
                .question 
                    h4 ¿Qué medidas de seguridad implementamos en nuestros servicios de mantenimiento web WordPress?
                    svg(width='40' height='40' viewbox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g(clip-path='url(#clip0_76_3640)')
                            path(d='M12.3001 35.0168C13.1168 35.8334 14.4335 35.8334 15.2501 35.0168L29.1001 21.1667C29.7501 20.5167 29.7501 19.4667 29.1001 18.8167L15.2501 4.96675C14.4335 4.15008 13.1168 4.15008 12.3001 4.96675C11.4835 5.78341 11.4835 7.10008 12.3001 7.91675L24.3668 20.0001L12.2835 32.0834C11.4835 32.8834 11.4835 34.2168 12.3001 35.0168V35.0168Z' fill='#333333')
                        defs
                            clippath#clip0_76_3640
                                rect(width='40' height='40' fill='white')
                .answer 
                    p Implementamos medidas de seguridad sólidas para proteger tu sitio web WordPress. Esto incluye la configuración de firewalls, la monitorización de posibles amenazas y ataques, la instalación de certificados SSL, la gestión de permisos y accesos, y la detección y eliminación de malware. Nos aseguramos de que tu sitio esté protegido contra posibles vulnerabilidades y riesgos de seguridad.
            .faq-accordeon 
                .question 
                    h4 ¿Cuál es la frecuencia de las copias de seguridad que realizamos en nuestro servicio de mantenimiento web WordPress?
                    svg(width='40' height='40' viewbox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g(clip-path='url(#clip0_76_3640)')
                            path(d='M12.3001 35.0168C13.1168 35.8334 14.4335 35.8334 15.2501 35.0168L29.1001 21.1667C29.7501 20.5167 29.7501 19.4667 29.1001 18.8167L15.2501 4.96675C14.4335 4.15008 13.1168 4.15008 12.3001 4.96675C11.4835 5.78341 11.4835 7.10008 12.3001 7.91675L24.3668 20.0001L12.2835 32.0834C11.4835 32.8834 11.4835 34.2168 12.3001 35.0168V35.0168Z' fill='#333333')
                        defs
                            clippath#clip0_76_3640
                                rect(width='40' height='40' fill='white')
                .answer 
                    p Realizamos copias de seguridad automáticas regularmente para garantizar la protección de tus datos. La frecuencia de las copias de seguridad puede variar según tus necesidades y el tipo de contenido de tu sitio web. Sin embargo, generalmente recomendamos realizar copias de seguridad diarias o semanales para asegurar la pérdida mínima de datos en caso de cualquier eventualidad.
            .faq-accordeon 
                .question 
                    h4 ¿Ofrecemos soporte técnico especializado para problemas relacionados con WordPress?
                    svg(width='40' height='40' viewbox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g(clip-path='url(#clip0_76_3640)')
                            path(d='M12.3001 35.0168C13.1168 35.8334 14.4335 35.8334 15.2501 35.0168L29.1001 21.1667C29.7501 20.5167 29.7501 19.4667 29.1001 18.8167L15.2501 4.96675C14.4335 4.15008 13.1168 4.15008 12.3001 4.96675C11.4835 5.78341 11.4835 7.10008 12.3001 7.91675L24.3668 20.0001L12.2835 32.0834C11.4835 32.8834 11.4835 34.2168 12.3001 35.0168V35.0168Z' fill='#333333')
                        defs
                            clippath#clip0_76_3640
                                rect(width='40' height='40' fill='white')
                .answer 
                    p Sí, nuestro equipo de soporte técnico especializado en WordPress estará disponible para ayudarte en caso de cualquier problema o consulta. Podemos ayudarte con la resolución de errores, conflictos de plugins, personalización del tema, optimización del rendimiento y cualquier otra necesidad técnica relacionada con WordPress que puedas tener.
