extends ./layout/index

block contenido
    main.hero 
        .container 
            .hero-text 
                h1
                    | Hosting web 
                    span.gradient profesional.
            a(class="hero-button", href="#pricing")
                svg(width='104' height='104' viewbox='0 0 104 104' fill='none' xmlns='http://www.w3.org/2000/svg')
                    g(clip-path='url(#clip0_278_484)')
                        path(d='M50.9997 45V56.17L46.1197 51.29C45.7297 50.9 45.0897 50.9 44.6997 51.29C44.3097 51.68 44.3097 52.31 44.6997 52.7L51.2897 59.29C51.6797 59.68 52.3097 59.68 52.6997 59.29L59.2897 52.7C59.6797 52.31 59.6797 51.68 59.2897 51.29C58.8997 50.9 58.2697 50.9 57.8797 51.29L52.9997 56.17V45C52.9997 44.45 52.5497 44 51.9997 44C51.4497 44 50.9997 44.45 50.9997 45Z' fill='#B8B8B8')
                    rect(x='0.5' y='0.5' width='103' height='103' rx='51.5' stroke='#B8B8B8')
                defs
                    clippath#clip0_278_484
                    rect(width='24' height='24' fill='white' transform='translate(40 40)')

            .shadow 
    section.servicios#pricing
            .container 
                .contenedor-servicios
                    .pricing-table 
                        img(src="/img/mantenimiento/starter.svg", alt="")
                        h3 Starter 
                        p Lo esencial para que tu sitio este seguro y funcione correctamente.
                        h2 
                            |$2,499
                            span.small /año
                        ul 
                            li 
                                img(src="/img/icons/checkmark.svg", alt="Característica")
                                |Hasta 5GB. de almacenamiento.
                            li 
                                img(src="/img/icons/checkmark.svg", alt="Característica")
                                |Hasta 7 emails empresariales.
                            li 
                                img(src="/img/icons/checkmark.svg", alt="Característica")
                                |Banda Ancha Ilimitada.
                            li 
                                img(src="/img/icons/checkmark.svg", alt="Característica")
                                |SSL gratuito para todos tus dominios.
                        a(href="#", class="btn secondary-btn") Contratar
                    .pricing-table 
                        img(src="/img/mantenimiento/starter.svg", alt="")
                        h3 Pro 
                        p Lo esencial que tu sitio web necesita para estar seguro.
                        h2 
                            |$3,499
                            span.small /año
                        ul 
                            li 
                                img(src="/img/icons/checkmark.svg", alt="Característica")
                                |Hasta 10GB. de almacenamiento.
                            li 
                                img(src="/img/icons/checkmark.svg", alt="Característica")
                                |Hasta 15 emails empresariales.
                            li 
                                img(src="/img/icons/checkmark.svg", alt="Característica")
                                |Banda Ancha Ilimitada.
                            li 
                                img(src="/img/icons/checkmark.svg", alt="Característica")
                                |SSL gratuito para todos tus dominios.
                        a(href="#", class="btn secondary-btn") Contratar
                    .pricing-table 
                        img(src="/img/mantenimiento/starter.svg", alt="")
                        h3 Premium 
                        p Todo lo que necesitas para monitorear y hacer crecer tu sitio web.
                        h2 
                            |$4,999
                            span.small /año
                        ul 
                            li 
                                img(src="/img/icons/checkmark.svg", alt="Característica")
                                |Hasta 20GB. de almacenamiento.
                            li 
                                img(src="/img/icons/checkmark.svg", alt="Característica")
                                |Emails empresariales ilimitados.
                            li 
                                img(src="/img/icons/checkmark.svg", alt="Característica")
                                |Banda Ancha Ilimitada.
                            li 
                                img(src="/img/icons/checkmark.svg", alt="Característica")
                                |SSL gratuito para todos tus dominios.
                        a(href="#", class="btn secondary-btn") Contratar

    section.feautures 
        .container 
                h2 
                    |¿Porqué usar nuestro 
                    span.gradient Hosting?
                .feautures-container 
                    .feauture
                        img(src="/img/mantenimiento/staging.svg", alt="")
                        h4 Staging / Sitios de prueba
                        p Crea una copia al instante de tu sitio, realizá todos los cambios que necesites y publícalos en sólo un clic.
                    .feauture
                        img(src="/img/mantenimiento/rendimiento.svg", alt="")
                        h4 Poder, desempeño y rendimiento
                        p Una de las infraestructuras líder en el mercado y con uno de los mejores desempeños en el mundo.
                    .feauture
                        img(src="/img/mantenimiento/analytics.svg", alt="")
                        h4 Herramientas de analytics
                        p CDN integrada como ninguna otra, una de las redes de entrega de contenido más extensas y rápidas del mundo.
                    .feauture
                        img(src="/img/mantenimiento/ssl.svg", alt="")
                        h4 Certificados SSL
                        p Podrás instalar certificados de seguridad a tus dominios para encriptar la navegación de tus clientes.
                    .feauture
                        img(src="/img/mantenimiento/copias-seguridad.svg", alt="")
                        h4 Copias de seguridad
                        p El servidor cuenta con un excelente sistema de copias de seguridad realizando respaldos diarios.
                    .feauture
                        img(src="/img/mantenimiento/velocidad.svg", alt="")
                        h4 Velocidad
                        p Utilizamos VPS's para ofrecer una velocidad de carga extremadamente rápida, olvidate de los servidores compartidos.   
    section.faq 
        .container 
            h2 F.A.Q.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.