extends ./layout/index

block contenido
    main.hero 
        .container 
            .hero-text 
                h1
                    | Soluciones y experiencia para brindarte los mejores 
                    span.gradient servicios 
            a(class="hero-button", href="#tecnologias")
                svg(width='104' height='104' viewbox='0 0 104 104' fill='none' xmlns='http://www.w3.org/2000/svg')
                    g(clip-path='url(#clip0_278_484)')
                        path(d='M50.9997 45V56.17L46.1197 51.29C45.7297 50.9 45.0897 50.9 44.6997 51.29C44.3097 51.68 44.3097 52.31 44.6997 52.7L51.2897 59.29C51.6797 59.68 52.3097 59.68 52.6997 59.29L59.2897 52.7C59.6797 52.31 59.6797 51.68 59.2897 51.29C58.8997 50.9 58.2697 50.9 57.8797 51.29L52.9997 56.17V45C52.9997 44.45 52.5497 44 51.9997 44C51.4497 44 50.9997 44.45 50.9997 45Z' fill='#B8B8B8')
                    rect(x='0.5' y='0.5' width='103' height='103' rx='51.5' stroke='#B8B8B8')
                defs
                    clippath#clip0_278_484
                    rect(width='24' height='24' fill='white' transform='translate(40 40)')
    
    section.grid-servicios
        .container
            .grid-servicios_item
                .img
                    img(src="/img/services/diseño-web.jpg", alt="Diseño Web Veracruz", class="img-fluid")
                .text 
                    h3 Diseño Web 
                    p Nuestro servicio de diseño web se enfoca en ayudar a nuestros clientes a alcanzar sus objetivos a través de un diseño web efectivo y atractivo. Utilizamos Figma para crear el proptotipo de sitio web ideal para cada cliente.
                    ul 
                        li
                            img(src="/img/icons/li.svg", alt="Li")
                            |Brief and Document
                        li
                            img(src="/img/icons/li.svg", alt="Li")
                            |Design Thinking Method
                        li
                            img(src="/img/icons/li.svg", alt="Li")
                            |Wireframing, Information Arhcitecture
                        li
                            img(src="/img/icons/li.svg", alt="Li")
                            |Design System, Visual Design, Prototyping
                    a(href="/servicios/diseno-web", class="btn secondary-btn") Más Información
            .grid-servicios_item
                .text 
                    h3 Sitio Web 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    ul 
                        li
                            img(src="/img/icons/li.svg", alt="Li")
                            |Brief and Document
                        li
                            img(src="/img/icons/li.svg", alt="Li")
                            |Design Thinking Method
                        li
                            img(src="/img/icons/li.svg", alt="Li")
                            |Wireframing, Information Arhcitecture
                        li
                            img(src="/img/icons/li.svg", alt="Li")
                            |Design System, Visual Design, Prototyping
                    a(href="/servicios/sitio-web", class="btn secondary-btn") Más Información
                .img
                    img(src="/img/services/sitio-web.jpg", alt="Diseño Web Veracruz", class="img-fluid")
            .grid-servicios_item
                .img
                    img(src="/img/services/tienda-online.jpg", alt="Diseño Web Veracruz", class="img-fluid")
                .text 
                    h3 Tienda Online 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    ul 
                        li
                            img(src="/img/icons/li.svg", alt="Li")
                            |Brief and Document
                        li
                            img(src="/img/icons/li.svg", alt="Li")
                            |Design Thinking Method
                        li
                            img(src="/img/icons/li.svg", alt="Li")
                            |Wireframing, Information Arhcitecture
                        li
                            img(src="/img/icons/li.svg", alt="Li")
                            |Design System, Visual Design, Prototyping
                    a(href="/servicios/tienda-online", class="btn secondary-btn") Más Información
            .grid-servicios_item
                .text 
                    h3 Landing Page 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    ul 
                        li
                            img(src="/img/icons/li.svg", alt="Li")
                            |Brief and Document
                        li
                            img(src="/img/icons/li.svg", alt="Li")
                            |Design Thinking Method
                        li
                            img(src="/img/icons/li.svg", alt="Li")
                            |Wireframing, Information Arhcitecture
                        li
                            img(src="/img/icons/li.svg", alt="Li")
                            |Design System, Visual Design, Prototyping
                    a(href="/servicios/tienda-online", class="btn secondary-btn") Más Información
                .img
                    img(src="/img/services/tienda-online.jpg", alt="Diseño Web Veracruz", class="img-fluid")
            .grid-servicios_item
                .img
                    img(src="/img/services/webapps.jpg", alt="Hosting Web Veracruz", class="img-fluid")
                .text 
                    h3 Web App's
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    ul 
                        li
                            img(src="/img/icons/li.svg", alt="Li")
                            |Brief and Document
                        li
                            img(src="/img/icons/li.svg", alt="Li")
                            |Design Thinking Method
                        li
                            img(src="/img/icons/li.svg", alt="Li")
                            |Wireframing, Information Arhcitecture
                        li
                            img(src="/img/icons/li.svg", alt="Li")
                            |Design System, Visual Design, Prototyping
                    a(href="/servicios/web-app", class="btn secondary-btn") Más Información
            .grid-servicios_item
                .text 
                    h3 Hosting
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    ul 
                        li
                            img(src="/img/icons/li.svg", alt="Li")
                            |Brief and Document
                        li
                            img(src="/img/icons/li.svg", alt="Li")
                            |Design Thinking Method
                        li
                            img(src="/img/icons/li.svg", alt="Li")
                            |Wireframing, Information Arhcitecture
                        li
                            img(src="/img/icons/li.svg", alt="Li")
                            |Design System, Visual Design, Prototyping
                    a(href="/servicios/hosting", class="btn secondary-btn") Más Información
                .img
                    img(src="/img/services/hosting.jpg", alt="Hosting Web Veracruz", class="img-fluid")
            .grid-servicios_item
                .img
                    img(src="/img/services/branding.jpg", alt="Hosting Web Veracruz", class="img-fluid")
                .text 
                    h3 Branding
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    ul 
                        li
                            img(src="/img/icons/li.svg", alt="Li")
                            |Brief and Document
                        li
                            img(src="/img/icons/li.svg", alt="Li")
                            |Design Thinking Method
                        li
                            img(src="/img/icons/li.svg", alt="Li")
                            |Wireframing, Information Arhcitecture
                    a(href="/servicios/branding", class="btn secondary-btn") Más Información