.hero .container {
  min-height: 550px;
  align-items: center;
  justify-content: space-between;
}

.hero .hero-text {
  width: calc(70% - 40px);
}

.hero .hero-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(30% - 40px);
}

@media (max-width: 1024px) {
  .hero .container {
    gap: 32px;
  }

  .hero .hero-text {
    width: calc(80% - 16px);
  }

  .hero .hero-button {
    width: calc(20% - 16px);
  }
}

@media (max-width: 743px) {
  .hero .container {
    gap: 32px;
    align-content: center;
  }

  .hero .hero-text {
    width: 100%;
    text-align: center;
  }

  .hero .hero-button {
    justify-content: center;
    width: 100%;
  }
}

/* Tweaks */
.servicios {
  padding: 80px 0;
}

@media (max-width: 743px) {
  .servicios {
    padding: 50px 0;
  }
}

.contenedor-servicios {
  margin-top: 0;
  gap: 32px;
}

.contenedor-servicios {
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1024px) {
  .contenedor-servicios {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 743px) {
  .contenedor-servicios {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Pricing */

.pricing-table {
  display: flex;
  flex-direction: column;
  gap: var(--normal-gap);
  align-items: flex-start;
}

.pricing-table ul {
  /* list-style: none; */
  list-style: none;
  flex-grow: 1;
}

.pricing-table ul li {
  font-size: var(--body-font-size);
  color: var(--text-color);
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.pricing-table .btn {
  width: 100%;
}

@media(max-width: 743px) {
  .pricing-table {
    gap: 10px;
  }

  .pricing-table h2 {
    margin-bottom: 6px;
  }
}

/* Service Feautures */
.service_feautures {
  padding: 0;
  margin-bottom: 80px;
}

.service_feautures .feautures-container {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.service-feauture {
  display: flex;
  flex-direction: column;
  gap: var(--normal-gap);
  align-items: flex-start;
}

@media (max-width: 1024px) {
  .service_feautures .feautures-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 743px) {
  .service_feautures {
    margin-bottom: 50px;
  }

  .service_feautures .feautures-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }

  .service-feauture {
    gap: 10px;
  }
}

/* FAQ */
.faq {
  margin-bottom: 80px;
}

.faq .container {
  display: flex;
  flex-direction: column;
  gap: var(--normal-gap);
}

@media (max-width: 743px) {
  .faq {
    margin-bottom: 50px;
  }
}

/*==== Contacto ====*/
/* Contact Card */

.contact-card {
  padding: 50px 70px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 100px;
  margin-top: -50px;
  position: relative;
  background-color: var(--white-color);
}

.contact-card p {
  margin-top: 32px;
}

.contact-card h4 {
  margin-bottom: 32px;
}

.contact-card button {
  margin-top: 32px;
}

.contact-card button:hover {
  cursor: pointer;
}

@media (max-width: 743px) {
  .contact-card {
    padding: 50px 32px;
  }
}

/* Contact Info */
.contact-info {
  padding: 0 0 80px;
}

.contact-info .row {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(4, 1fr);
  margin: 50px 0;
}

.contact-info h4 {
  color: #666;
  font-size: var(--body-font-size);
  font-weight: 400;
}

.contact-info a {
  color: var(--primary-color);
  font-size: var(--h4-font-size);
  font-weight: 700;
  transition: var(--deafult-transition);
}

.contact-info a:hover {
  color: var(--secondary-color);
}

@media (max-width: 1024px) {
  .contact-info .row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 743px) {
  .contact-info {
    padding-bottom: 50px;
  }

  .contact-info .row {
    grid-template-columns: repeat(1, 1fr);
    margin: 32px 0;
    gap: 22px;
  }

  .contact-card p,
  .contact-card button {
    margin-top: 22px;
  }
}

/* Portfolio Archive */
.portfolio-archive .container {
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.portafolio-card img {
  max-height: 320px;
  object-fit: cover;
  margin-bottom: 16px;
  border-radius: 4px;
}

.portafolio-card h2 {
  font-size: var(--h4-font-size);
}

.portafolio-card h3 {
  font-size: var(--xl-font-size);
  color: #666;
}

@media (max-width: 1024px) {
  .portfolio-archive .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 743px) {
  .portfolio-archive .container {
    padding: 50px 0;
    grid-template-columns: repeat(2, 1fr);
  }
}

/*==== Nosotros ====*/

/* Tecnologias */
.tecnologias {
  padding: 100px 0;
}

.tecnologias .heading {
  display: flex;
  flex-direction: column;
  gap: var(--normal-gap);
}

.tecnologias h2,
.tecnologias p {
  text-align: center;
}

.contenedor-tecnologias {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  row-gap: 50px;
  justify-items: center;
  margin-top: 80px;
}

.contenedor-tecnologias img {
  max-width: 65%;
  max-height: 50px;
  object-fit: cover;
  filter: grayscale(100);
  transition: var(--deafult-transition);
}

.contenedor-tecnologias img:hover {
  filter: grayscale(0);
  cursor: pointer;
}

@media (max-width: 1024px) {
  .tecnologias {
    padding: 80px 0;
  }
}

@media (max-width: 743px) {
  .tecnologias {
    padding: 50px 0;
  }

  .contenedor-tecnologias {
    margin-top: 32px;
  }

  .contenedor-tecnologias {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Filosofia */
.filosofia {
  padding: 100px 0;
}

.filosofia .container {
  display: grid;
  grid-template-areas:
    "a a a a a"
    "b b c c c";
  align-items: stretch;
}

.filosofia .heading {
  margin-bottom: 50px;
  flex-direction: column;
  grid-area: a;
  gap: var(--normal-gap);
}

.filosofia .img {
  grid-area: b;
}

.filosofia .img img {
  border-radius: 4px;
  height: 100%;
  object-fit: cover;
}

.filosofia .text {
  width: 100%;
  padding-left: 120px;
  grid-area: c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.filosofia .text > div {
  display: flex;
  flex-direction: column;
  gap: var(--normal-gap);
}

@media (max-width: 1024px) {
  .filosofia {
    padding: 80px 0;
  }

  .filosofia .container {
    display: grid;
    grid-template-areas:
      "a a a a a a a a"
      "b b b b c c c c";
    align-items: stretch;
  }

  .filosofia .heading {
    text-align: center;
  }

  .filosofia .text {
    padding-left: 32px;
  }
}

@media (max-width: 743px) {
  .filosofia {
    padding: 50px 0;
  }
  .filosofia .container {
    grid-template-areas:
      "a a a a a"
      "b b b b b"
      "c c c c c";
  }

  .filosofia .text {
    padding-left: 0;
    margin-top: 32px;
  }

  .filosofia .heading {
    margin-bottom: 32px;
    align-items: center;
  }
}

/* Feautures */
.feautures {
  background-color: var(--primary-color);
  padding: 80px 0;
}

.feautures h2 {
  color: var(--white-color);
}

.feauture-card {
  background: var(--white-color);
  width: unset;
  height: 100%;
}

.swiper-wrapper {
  margin-bottom: 80px;
}

@media (max-width: 743px) {
  .feautures {
    padding: 50px 0;
    margin-bottom: 0px;
  }
}

/* Equipo */
.equipo {
  padding: 100px 0;
}

.contenedor-equipo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  margin-top: 50px;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.team-member h4 {
  font-size: var(--h4-font-size);
}

.team-member h5 {
  font-size: var(--body-font-size);
  color: #666;
  font-weight: 400;
}

.team-member img {
  max-width: 50%;
}

@media (max-width: 1024px) {
  .equipo {
    padding: 80px 0;
    text-align: center;
  }

  .contenedor-equipo {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 743px) {
  .equipo {
    padding: 50px 0;
    text-align: center;
  }

  .contenedor-equipo {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 32px;
  }
}

/*====== Servicios ======*/
.grid-servicios {
  padding: 120px 0;
}

.grid-servicios .container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.grid-servicios_item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px;
  align-items: center;
}

.grid-servicios_item .img img {
  max-height: 500px;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.grid-servicios_item .text {
  display: flex;
  flex-direction: column;
  gap: var(--normal-gap);
  justify-content: center;
}

.grid-servicios_item .text ul {
  font-size: var(--body-font-size);
  color: #333;
  list-style: none;
}

.grid-servicios_item .text ul li {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 22px;
  font-weight: 700;
}

.grid-servicios .btn {
  display: inline-block;
}

@media (max-width: 1024px) {
  .grid-servicios {
    padding: 80px 0;
  }

  .grid-servicios .container {
    gap: 80px;
  }

  .grid-servicios_item {
    gap: 32px;
  }
}

@media (max-width: 743px) {
  .grid-servicios_item:nth-child(even) .img {
    order: -1;
  }

  .grid-servicios .container {
    gap: 80px;
  }

  .grid-servicios {
    padding: 50px 0;
  }

  .grid-servicios .container {
    gap: 64px;
  }

  .grid-servicios_item {
    grid-template-columns: repeat(1, 1fr);
    gap: 22px;
  }
}

/* Portafolio */
.portfolio-content {
  margin-top: 200px;
  padding: 80px 0;
}

.portfolio-content .container {
  display: flex;
  gap: 120px;
}

#feautured-image {
  max-width: 40%;
  position: absolute;
  right: 30%;
  bottom: -350px;
  margin-bottom: 100px;
}

.portfolio-content .text {
  display: flex;
  flex-direction: column;
  gap: var(--normal-gap);
  flex-basis: 70%;
}

.portfolio-content .portfolio-gallery {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  margin: 32px 0;
} 

.portfolio-content .portfolio-gallery img {
  max-width: calc(50% - 16px);
  border-radius: 4px;
}

.portfolio-content .sidebar h3:first-child {
  margin-bottom: 32px;
}

.portfolio-content .portafolio-card{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 32px; 
}

.portfolio-content .portafolio-card:last-child {
  margin-bottom: 0; 
}

.portfolio-content .portafolio-card img {
  max-width:100%;
  width: 100%;
}

@media (max-width: 1024px) {
  .portfolio-content {
    padding: 120px 0 80px;
  }
  .portfolio-content .container {
    gap: 32px;
  }
  .portfolio-content .text {
    flex-basis: 70%;
  }
  #feautured-image {
    max-width: 70%;
    right: 15%;
    bottom: -420px;
  }
  .portfolio-content .portfolio-gallery  {
    margin: 22px 0;
  }
}

@media (max-width: 743px) {
  .portfolio-content {
    padding: 50px 0;
  }

  #feautured-image {
    max-width: 100%;
    right: 0;
    bottom: -400px;
  }

  .portfolio-content .container {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: stretch;
    gap: 50px;
  }

  .portafolio-card img {
    max-height: 380px;
  }

  .portfolio-content .portfolio-gallery {
    flex-direction: column;
    gap: 22px;
  } 

  .portfolio-content .portfolio-gallery img {
    max-width: 100%;
  }
}

/* Politicas de Privacidad */
.politicas {
  padding: 80px 0;
}

.politicas .container {
  /* display: flex; */
  /* flex-direction: column; */
}

.politicas h3 {
  margin-top: 22px;
  margin-bottom: 16px;
}

@media(max-width: 1024px) {
  .politicas {
    padding: 50px 0;
  } 
}