footer.footer 
    .container.flex.space-between.wrap
        .col.company-info
            a(href="/") 
                img(src="/img/white-logo.svg", alt="WebTech white logo", class="logo")
            a(href="/contacto", class="footer-btn") Contáctanos
            p.copyright © Copyright #{actualYear}. WebTechMx. Todos los derechos Reservados.
        .col 
            h4 Servicios
            ul 
                li 
                    a(href="/servicios/landing") Landing Page
                li 
                    a(href="/servicios/sitio-web") Sitio Web
                li 
                    a(href="/servicios/tienda Online") Tienda Online
                li 
                    a(href="/servicios/plataforma") Plataforma
                li 
                    a(href="/servicios/api") API Integrations
        .col 
            h4 Nosotros
            ul 
                li 
                    a(href="/nosotros") Sobre Nosotros
                li 
                    a(href="/nosotros#equipo") Equipo
                li 
                    a(href="/nosotros#tecnologias") Tecnologías
                li 
                    a(href="#") Acceso a Clientes
        .col 
            h4 Horarios de Atención:
            p Lunes - Sabado:
            p 9:00 - 19:00
            h4 Legales:
            ul 
                li 
                    a(href="/politicas-de-privacidad") Políticas de Privacidad
                li 
                    a(href="/terminos-y-condiciones") Términos y Condiciones



//- Slider
script(src='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js')
//- Sroll Reveal
<script src="https://unpkg.com/scrollreveal"></script>
script(src="/js/app.js") 