header.header 
    .container
        .header-left-menu
            ul.flex.align-center.gap-5
                li.menu-item 
                    a(href="#", id="menu").flex.align-center
                        svg(class="menu-icon", width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                            path(d='M19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12C18 12.5523 18.4477 13 19 13Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                            path(d='M5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                        span Menú
                li 
                    a(href="/servicios", class="servicios") Servicios
        .logo
            a(href="/")  
                img(src="/img/logo.svg", alt="Logo WebTech")
        .header-right-menu
           ul.flex.align-center
                li 
                    a(href="/contacto") Contacto

section.megamenu.hidden
    .container  
        .col 
            ul.nav-menu 
                li 
                    a(href="/servicios") Servicios
                li 
                    a(href="/nosotros") Nosotros
                li 
                    a(href="/portafolio") Portafolio
                li 
                    a(href="/blog") Blog
                li 
                    a(href="/contacto") Contacto
        .col
            ul.services-list 
                li 
                    a(href="/servicios/diseno-web") 
                        img(src="/img/icons/diseño-web.svg", alt="Diseño Web Veracruz")
                        |Diseño Web
                li 
                    a(href="/servicios/landing-page") 
                        img(src="/img/icons/diseño-web.svg", alt="Landing Page Veracruz")
                        |Landing Page
                li 
                    a(href="/servicios/sitio-web") 
                        img(src="/img/icons/diseño-web.svg", alt="Sitio Web Veracruz")
                        |Sitio Web
                li 
                    a(href="/servicios/tienda-online") 
                        img(src="/img/icons/tienda-online.svg", alt="Tienda Online Veracruz")
                        |Tienda online
                li 
                    a(href="/servicios/web-app") 
                        img(src="/img/icons/web-app.svg", alt="Web App Veracruz")
                        |Web apps
                li 
                    a(href="/servicios#") 
                        img(src="/img/icons/web-app.svg", alt="Tarjetas de Presentación Veracruz")
                        |Tarjetas de Presentación AddMe
        .col
            ul.services-list 
                li 
                    a(href="/servicios/mantenimiento") 
                        img(src="/img/icons/mantenimiento-web.svg", alt="Mantenimiento Web Veracruz")
                        |Mantenimiento Web
                li 
                    a(href="/servicios")
                        img(src="/img/icons/administrador-contenido.svg", alt="Administrador Web Veracruz")
                        |Administrador de contenido
                li 
                    a(href="/servicios")
                        img(src="/img/icons/posicionamiento-web.svg", alt="Posicionamiento SEO Veracruz")
                        |Posicionamiento de contenido
                li 
                    a(href="/servicios/hosting") 
                        img(src="/img/icons/diseño-web.svg", alt="Web Hosting Veracruz")
                        |Web Hosting
                li 
                    a(href="/servicios/hosting") 
                        img(src="/img/icons/tienda-online.svg", alt="Correos Empresariales Veracruz")
                        |Correos Empresariales
        .col
            ul 
                h4 Horarios de Atención:
                p lun. - sab. 9:00 - 19:00
                .social-icons
                    a(href="#") 
                        img(src="/img/icons/github.svg", alt="Github")
                    a(href="#") 
                        img(src="/img/icons/instagram.svg", alt="Instagram")
                    a(href="#") 
                        img(src="/img/icons/twitter.svg", alt="Twitter")
                    a(href="#") 
                        img(src="/img/icons/facebook.svg", alt="Facebook")

